<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="12%">&nbsp;</td>
        <td width="76%">&nbsp;</td>
        <td width="12%">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><p align="center"><br>
            <br>
            {MESSAGE}<br />
            <font color="#00CC00">{MESSAGE_SUCESS}</font><br />
            <font color="#FF0000">{MESSAGE_ERROR}</font></p>
            <p align="center">&nbsp;</p></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
