<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="../css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body style="background-color:#FFFFFF">
		<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td>
					<!-- BEGIN CATS_LIST -->
					{FORM_BEGIN}
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
<!--						<tr>
							<td align="center">					
								<strong>CHOISIR UNE CATÉGORIE</strong><br />
								<br />						  </td>
						</tr>-->					
						<tr>
							<td align="center">					
								<!-- BEGIN CATS_LIST_ROW -->
								<div class="ALBUM_CAT">
                                	<div class="ALBUM_CAT_IMG">
                                    	{IMG_FR}		
                                    </div>										
									<div class="ALBUM_CAT_TITLE">
                                    	{LABEL}		
                                    </div>																						
                                </div>
						  		<!-- END CATS_LIST_ROW -->
                          </td>
						</tr>						
					</table>
					{FORM_END}
					<!-- END CATS_LIST -->

					<!-- BEGIN CATS_ZOOM -->
					{FORM_BEGIN}
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<!-- BEGIN CATS_ZOOM_ROW -->
						<tr>
							<td>{ID}</td><td>{PID}</td><td>{NAME}</td><td>{LABEL_FR}</td><td>{TYPE}</td><td>{PAR}</td>
						</tr>
						<!-- END CATS_ZOOM_ROW -->
					</table>
					{FORM_END}
					<!-- END CATS_ZOOM -->

					<!-- BEGIN CATS_NAV -->
					<div class="CATS_NAV">
						{CATS_NAV}					</div>
					<!-- END CATS_NAV -->

					<!-- BEGIN ITEMS_LIST -->
                    {FORM_BEGIN}
					<div class="ALBUM_BOX" style="padding-left:40px">	
                        <!-- BEGIN ITEMS_LIST_ROW -->
                        <div style="width:200px;height:350px;float:left;position:relative;text-align:center">	
							{ADMIN}
                            <br />
                            {IMG}
                            <font size="-1">{STYLE}</font>
                            <br />
                        </div>
                        <!-- END ITEMS_LIST_ROW -->
					</div>
                    {FORM_END}
					<!-- END ITEMS_LIST -->
					
					<!-- BEGIN ITEMS_ZOOM -->
					<br />
					<div class="ALBUM_BOX_ZOOM">
						{FORM_BEGIN}									
							<!-- BEGIN ITEMS_ZOOM_ROW -->
                            <table width="600" align="center" cellspacing="5" bgcolor="#FFFFFF">													
                                <tr>
                                    <td width="300" align="center">{IMG}</td> 
                                    <td width="300" align="left" valign="top"> 
<table width="300" align="center" >													
                                            <tr>
                                                <td align="left" colspan="17">{ADMIN}<strong><font size="+1">{STYLE}</font></strong></td>
                                            </tr>
                                            <tr>
                                                <td align="left" colspan="17"><p>{DESC}</p>
                                                <p>&nbsp;</p>
                                                <p>{TECH_01}{TECH_02}                                                </p></td>
                                            </tr>
                                             <tr>
                                            	<td>
                                                </td>
                                             </tr>                                          
                                        </table>                                    
                               		</td>
                            	</tr>
                                <tr>
                                  <td colspan="2" align="center">
                                  <table width="100%" align="center" >
                                    <tr>
                                      <td align="center"><div align="center"><strong>AUTRES DETAILS</strong><br />
                                        </div>
                                        {DETAIL_01}&nbsp;&nbsp;{DETAIL_02}&nbsp;&nbsp;{DETAIL_03}&nbsp;&nbsp;{DETAIL_04}&nbsp;&nbsp;{DETAIL_05} </td>
                                    </tr>
                                  </table>
                                  <br />



                                  <table width="100%" align="center" >													
                                             <tr>
                                            	<td>
                                                	<div align="center"><strong>INVENTAIRE</strong><br />
                                                	  
                                                	  
                                              	  </div>
													{GRANDEUR}
                                           	   </td>
                                             </tr>                                          
                                        </table>
                                  
                                  </td>
                                </tr>
                            </table>
							
		        <!-- END ITEMS_ZOOM_ROW -->
						{FORM_END}	
					</div>	
					<!-- END ITEMS_ZOOM -->
					
					<!-- BEGIN ITEMS_LIST_NAV -->
					<br />
					<div class="ITEMS_NAV">
						<font size="-2">{NAV_FIRST}</font> &#8226;
						<font size="-2">{NAV_PREV}</font> &#8226;
						<font size="-2">{NAV_NEXT}</font> &#8226; 
						<font size="-2">{NAV_LAST}</font> 
						<br />
						<font size="-2">RETOUR <a href="{ITEMS_RETURN_URL}">{ITEMS_RETURN_LABEL}</a></font> &#8226;
						<font size="-2">{NAV_POSITION}</font>					</div>
					<br /><br />
					<!-- END ITEMS_LIST_NAV -->
					
					<!-- BEGIN ITEMS_ZOOM_NAV -->
					<br />
					<div class="ITEMS_NAV">
						<font size="-2">{NAV_PREV}</font> &#8226; <font size="-2">{NAV_NEXT}</font> 
						<br />
						<font size="-2">{NAV_RETURN}</font>					</div>
					<br />
					<!-- END ITEMS_ZOOM_NAV -->
					
					<!-- BEGIN ITEMS_NEW -->
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="right">
								TITRE&nbsp;:&nbsp;							</td>
							<td align="left">
								{LABEL_FR}							</td>							
						</tr>
						<tr>
							<td align="right">
								DESCRIPTION COURTE&nbsp;:&nbsp;							</td>
							<td align="left">
								{DESC_FR}							</td>							
						</tr>
						<tr>
							<td align="right">
								DESCRIPTION LONGUE&nbsp;:&nbsp;							</td>
							<td align="left">
								{HTML_FR}							</td>							
						</tr>						

					</table>
					<!-- END ITEMS_NEW -->
					<!-- BEGIN OLD_ITEMS_ZOOM_NAV -->
					<br />
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center"><br />
								<font size="-2">{NAV_PREV}</font> &#8226;
								<font size="-2">{NAV_NEXT} > </font> 
								<br />
								<font size="-2">{NAV_RETURN}</font> &#8226;
								<font size="-2">{NAV_POSITION}</font>							</td>
						</tr>
					</table>
					<br />
					<!-- END OLD_ITEMS_ZOOM_NAV -->				</td>
		  	</tr>
		</table>
	</body>
</html>	
	