<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="/clients/scorpio3/themes/default/css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td>
					<!-- BEGIN FORM -->
					<form action="" method="post" enctype="multipart/form-data" name="files">
						<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td align="center">
									FICHIER 01 : <input name="file_01" type="file" size="30" />
									<input name="file_name_01" type="text" id="file_name_01" />
								</td>
							</tr>
							<tr>
								<td align="center">
									FICHIER 02 : <input name="file_02" type="file" size="30" />
									<input name="file_name_02" type="text" id="file_name_02" />
								</td>
							</tr>
							<tr>
								<td align="center">
									FICHIER 03 : <input name="file_03" type="file" size="30" />
									<input name="file_name_03" type="text" id="file_name_03" />
								</td>
							</tr>
							<tr>
								<td align="center">
									FICHIER 04 : <input name="file_04" type="file" size="30" />
									<input name="file_name_04" type="text" id="file_name_04" />
								</td>
							</tr>
							<tr>
								<td align="center">
									FICHIER 05 : <input name="file_05" type="file" size="30" />
									<input name="file_name_05" type="text" id="file_name_05" />
								</td>
							</tr>
							<tr>
								<td align="center">
									<br />
									<input name="listname_files" type="submit" value="Envoyer" />
								</td>
							</tr>	
							
							<tr>
								<td align="center"><p align="left">&nbsp;</p>
								  <p align="left"><strong>Pour que l'ajout d'un fichier fonctionne bien:</strong></p>
								  <p align="left">1) Assurez vous que l'image est plus petite que 2MB.<br />
                                      <br />
								    2) Si l'image est de 1MB ou +, ajouter une seul image &agrave; la fois. <br />
  <br />
								    3) Assurez vous qu'il n'y a pas d'accent dans le nom des fichiers &agrave; ajouter.<br />
								    ex: &quot;&egrave;&eacute;&ecirc;&euml;&quot;</p>
								  <p align="left">4)Assurez vous qu'il n'y ait pas de caract&egrave;re sp&eacute;ciaux dans les noms.<br />
								    ex: &quot;`_&amp;%$$!&plusmn;@&pound;&cent;&curren;&not;&curren;&sup2;&brvbar;&sup3;&frac14;&sup3;&macr;&shy;&acute;~{}[]'.&Eacute;`^&uml;&quot;. </p>
								  <p align="left">5) Assurez vous que la longueur du nom ne soit pas plus longue que 30 caract&egrave;res. <br />
								    ex: &quot;abcdefghijklmnopqrstuvwxizabcd.jpg&quot;.</p>
							    <p align="left">6)  Si vous n'avez pas internet haute vitesse ou que la connexion est trop  lente, il est possible que vous ne puissiez ajouter des images de 500kb  et +.</p>
							    <p align="left">&nbsp; </p></td>
							</tr>							
													
						</table>
					</form>
					<!-- END FORM -->
				</td>
		  	</tr>
		</table>
	</body>
</html>	
	