<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="/clients/scorpio3/themes/default/css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td>
					<!-- BEGIN ITEMS_LIST -->
					{FORM_BEGIN}
					<table width="95%" bgcolor="#CCCCCC" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<th>id<br />name<br />&nbsp;</th><th>name<br />label_fr<br />
							  label_en</th>
							<th>pid<br />
  								type<br />
						      	allowed-owner-status</th>
							<th><p>par<br />
						    class-order</p>						    </th>
						</tr>
						<tr>
						  	<td height="10" colspan="4" valign="middle"><hr></td>
						</tr>							
						<!-- BEGIN ITEMS_LIST_ROW -->
						<tr>
							<td width="100">{ID}</td><td>{NAME}</td>
							<td colspan="2">{PID}</td>
						</tr>						
						<tr>
							<td>{ADMIN}</td>
							<td>{LABEL_FR}</td><td>{TYPE}</td><td>{PAR}</td>
						</tr>
						<tr>

							<td>&nbsp;</td><td>{LABEL_EN}</td><td>{ALLOWED}{OWNER}{STATUS}</td><td>{CLASS}{ORDER}</td>
						</tr>
						<tr>
						  	<td height="10" colspan="4" valign="middle"><hr></td>
						</tr>												
						<!-- END ITEMS_LIST_ROW -->
				  </table>
					<br />
					{FORM_END}
					<!-- END ITEMS_LIST -->
					
					<!-- BEGIN ITEMS_ZOOM -->
					<br />
						{FORM_BEGIN}
						<!-- BEGIN ITEMS_ZOOM_ROW -->						
						<table width="100%" bgcolor="#DDDDDD" border="0" align="left" cellpadding="0" cellspacing="0">
							<tr>
								<td height="20" colspan="4" valign="middle">MODIFICATION DE LA PAGE<br /></td>
							</tr>	
							<tr>
								<td width="50">{ID}</td><td>{NAME}</td>
								<td colspan="2">{PID}</td>
							</tr>						
							<tr>
								<td>{ADMIN}</td>
								<td>{LABEL_FR}</td><td>{TYPE}</td><td>{PAR}</td>
							</tr>
							<tr>
	
								<td>&nbsp;</td><td>{LABEL_EN}</td><td>{ALLOWED}{OWNER}{STATUS}</td><td>{CLASS}{ORDER}</td>
							</tr>																											
						</table>
						<!-- END ITEMS_ZOOM_ROW -->
						{FORM_END}
					<!-- END ITEMS_ZOOM -->
					
				</td>
		  	</tr>
		</table>
	</body>
</html>