<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="/clients/scorpio3/themes/default/css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td>
					<!-- BEGIN LIST -->
					{FORM_BEGIN}
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<!-- BEGIN LIST_ROW -->
						<tr>
							<td>{ID}</td><td>{PID}</td><td>{NAME}</td><td>{LABEL_FR}</td><td>{TYPE}</td><td>{PAR}</td><td>{CLASS}</td>
							<td>{ORDER}</td><td>{ALLOWED}</td><td>{OWNER}</td><td>{STATUS}</td>
						</tr>
						<!-- END LIST_ROW -->
					</table>
					{FORM_END}
					<!-- END LIST -->
					
					<!-- BEGIN ZOOM -->
					<br />
						{FORM_BEGIN}
						<!-- BEGIN ZOOM_ROW -->						
						<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td bgcolor="#FFFFCC">{ID}</td>
							</tr>
							<tr>
								<td>{PID}</td>						
							</tr>
							<tr>
								<td>{NAME}</td>						
							</tr>
							<tr>
								<td>{LABEL_FR}</td>						
							</tr>							
							<tr>
								<td>{TYPE}</td>						
							</tr>
							<tr>
								<td>{CLASS}</td>						
							</tr>
							<tr>
								<td>{ORDER}</td>						
							</tr>
							<tr>
								<td>{ALLOWED}</td>						
							</tr>
							<tr>
								<td>{OWNER}</td>						
							</tr>
							<tr>
								<td>{STATUS}</td>						
							</tr>														
						</table>
						<!-- END ZOOM_ROW -->
						{FORM_END}
					<!-- END ZOOM -->
					
					<!-- BEGIN NAV_LIST -->
					<br />
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center"><br />
								<font size="-2">{NAV_FIRST}</font> &#8226;
								<font size="-2">{NAV_PREV}</font> &#8226;
								<font size="-2">{NAV_NEXT}</font> &#8226; 
								<font size="-2">{NAV_LAST}</font> 
								<br />
								<font size="-2">RETOUR <a href="{ITEMS_RETURN_URL}">{ITEMS_RETURN_LABEL}</a></font> &#8226;
								<font size="-2">{NAV_POSITION}</font> 
							</td>
						</tr>
					</table>
					<br />
					<!-- END NAV_LIST -->
					
					<!-- BEGIN NAV_ZOOM -->
					<br />
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center"><br />
								<font size="-2"> < <a href="{ITEMS_PREV_URL}">{ITEMS_PREV_LABEL}</a></font> &#8226;
								<font size="-2"><a href="{ITEMS_NEXT_URL}">{ITEMS_NEXT_LABEL}</a> > </font> 
								<br />
								<font size="-2">RETOUR <a href="{ITEMS_RETURN_URL}">{ITEMS_RETURN_LABEL}</a></font> &#8226;
								<font size="-2">{ITEMS_POSITION}</font> 
							</td>
						</tr>
					</table>
					<br />
					<!-- END NAV_ZOOM -->
				</td>
		  	</tr>
		</table>
	</body>
</html>	
	