<div class="MENU_GOD">
	MENU GOD -
	<a href="?p=admin_layoutdesigner">DESIGNER</a> - 
	<a href="?p=admin_panel">PANEL</a> - 	
	<a href="?p=admin_contents">CONTENTS</a> - 
	<a href="?p=admin_pages">PAGES</a> - 
	<a href="?p=admin_layouts">LAYOUTS</a> - 
	<a href="?p=admin_structs">RS</a> - 
	<a href="?p=admin_sites">SITES</a> -	
	<a href="?p=admin_users">USERS</a> -
	<a href="?p=admin_groups">GROUPS</a> -	
	<a href="?p=admin_types">TYPES</a> -
	<a href="?p=admin_noparent">NOPARENT</a> -
	<a href="?p=admin_html">HTML</a> -	
	<a href="?p=admin_db">DB</a> -	
	<a href="?p=admin_dup">DUP</a>&nbsp;&nbsp;	
	
	<br />
	chrono:<b>{ADMIN_CHRONO}</b> - 
	contents:<b>{ADMIN_CONTENTS}</b> - 
	queries:<b>{ADMIN_QUERIES}</b> - 
	functions:<b>{ADMIN_FUNCTIONS}</b>
</div>