<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="../css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body style="background-color:#FFFFFF">
		<!-- BEGIN CONTACT -->
		<form id="form1" name="form1" method="post" action="">
		<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td width="204" align="right">Courriel : </td>
		  	    <td width="20" align="right">&nbsp;</td>
		  	    <td width="276">
		  	      <label>
		  	        <input name="email" type="text" id="email" value="{EMAIL}" size="40" />
	  	          </label>		  	    </td>
		  	</tr>
		  	<tr>
		  	  <td align="right">Nom : </td>
		  	  <td align="right">&nbsp;</td>
		  	  <td><input name="name" type="text" id="name" value="{NAME}" size="40" /></td>
	  	  </tr>
		  	<tr>
		  	  <td align="right">Ville : </td>
		  	  <td align="right">&nbsp;</td>
		  	  <td><input name="city" type="text" id="city" value="{CITY}" size="40" /></td>
	  	  </tr>
		  	<tr>
		  	  <td align="right">T&eacute;l&eacute;phone : </td>
		  	  <td align="right">&nbsp;</td>
		  	  <td><input name="phone" type="text" id="phone" value="{PHONE}" size="40" /></td>
	  	  </tr>
		  	<tr>
		  	  <td align="right" valign="top">Message : </td>
		  	  <td align="right">&nbsp;</td>
		  	  <td><textarea name="message" cols="40" rows="7" id="message">{MESSAGE}</textarea></td>
	  	  </tr>
		  	<tr>
		  	  <td align="right">&nbsp;</td>
		  	  <td align="right">&nbsp;</td>
		  	  <td>&nbsp;</td>
	  	  </tr>
		  	<tr>
		  	  <td colspan="3" align="center"><input name="contact_submit" type="submit" id="submit" value="envoyer" /></td>
	  	  </tr>
		</table>
		<label></label>
		</form>
		<!-- END CONTACT -->
	</body>
</html>	
	