<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="../css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body style="background-color:#FFFFFF">
		<!-- BEGIN FOOTER -->
		<div class="FOOTER_CREDITS">
			copyright © 2009 <b>{SITE_NAME}</b>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
			mis à jour le {LAST_UPDATED}&nbsp;&nbsp;&bull;&nbsp;&nbsp;
			visites : <b>{HITS}</b>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
			<a href="?p=session">ADMIN</a>&nbsp;{VERSION}
<!--			&nbsp;&nbsp;{LANG_SWITCH}	-->
			{SITE_CHRONO}{SITE_CACHE}{SITE_CLEAR_CACHE} 
		</div>
		<!-- END FOOTER -->
	</body>
</html>	
	