<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="../css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body style="background-color:#FFFFFF">
		<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td>
					<!-- BEGIN MENU_1_LIST -->
					<div class="MENU_1_BOX">
						{FORM_BEGIN}
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">		
							<!-- BEGIN MENU_1_LIST_ROW -->
							<tr>
								<!-- BEGIN MENU_1_LIST_COL -->
								<td align="center" >	
	                            	{LABEL}		
								</td>
								<!-- END MENU_1_LIST_COL -->
							</tr>	
					  		<!-- END MENU_1_LIST_ROW -->							
						</table>
						{FORM_END}
					</div>	
					<!-- END MENU_1_LIST -->
				</td>
		  	</tr>
		</table>
	</body>
</html>	
	