<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{TITLE}</title>
		<link href="/clients/remorqueslachevauchee/themes/default/css/default.css" rel="stylesheet" type="text/css">
	</head>
	
	<body style="background-color:#FFFFFF">
		<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
		  	<tr>
				<td>
					<!-- BEGIN CATS_LIST -->
					{FORM_BEGIN}
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<!-- BEGIN CATS_LIST_ROW -->
						<tr>
							<td class="CAT_LABEL">{ADMIN}{ID}{LABEL_FR}</td>
							<td>{DESC_FR}</td>
						</tr>
						<!-- END CATS_LIST_ROW -->
					</table>
					{FORM_END}
					<br />
					<!-- END CATS_LIST -->

					<!-- BEGIN CATS_ZOOM -->
					{FORM_BEGIN}
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<!-- BEGIN CATS_ZOOM_ROW -->
						<tr>
							<td>{ID}</td><td>{PID}</td><td>{NAME}</td><td>{LABEL_FR}</td><td>{TYPE}</td><td>{PAR}</td>
						</tr>
						<!-- END CATS_ZOOM_ROW -->
					</table>
					{FORM_END}
					<!-- END CATS_ZOOM -->

					<!-- BEGIN CATS_NAV -->
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td>{CATS_NAV}</td>
						</tr>
					</table>
					<br />
					<!-- END CATS_NAV -->

					<!-- BEGIN ITEMS_LIST -->
					{FORM_BEGIN}
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">				
						<tr>
							<td align="center">
								<!-- BEGIN ITEMS_LIST_ROW -->
								<div style="width:170px;height:200px;margin-left:2%;margin-right:2%;float:left; margin-bottom:10px;">
									<div style="height:125px;width:100%;text-align:center;float:left; clear:both;vertical-align:bottom">
										{IMG}
										<br />
									</div>	
									<div style="height:50px;width:100%;color: #6C4900; float:left;text-align:center;vertical-align:bottom">
										<br />
										<strong>{LABEL}</strong>
									</div>								
								{ADMIN}	
								</div>
								<!-- END ITEMS_LIST_ROW -->
							</td>						
						</tr>																											
					</table>									
					{FORM_END}
					<!-- END ITEMS_LIST -->
					
					<!-- BEGIN ITEMS_ZOOM -->
					<br />
						{FORM_BEGIN}
						<!-- BEGIN ITEMS_ZOOM_ROW -->						
						<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">				
							<tr>
								<td colspan="2" align="center">{IMG}<br />
								{IMG_SEL}{PID}</td>						
						    </tr>

							<tr>
								<td colspan="2" align="center"><br><strong>{LABEL}</strong><br /><br /></td>						
						    </tr>													
							<tr>
								<td colspan="2"><br>{HTML}<br></td>						
							</tr>																											
						</table>
						<!-- END ITEMS_ZOOM_ROW -->
						{FORM_END}
					<!-- END ITEMS_ZOOM -->
					
					<!-- BEGIN ITEMS_LIST_NAV -->
					<br />
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center"><br />
								<font size="-2">{NAV_FIRST}</font> &#8226;
								<font size="-2">{NAV_PREV}</font> &#8226;
								<font size="-2">{NAV_NEXT}</font> &#8226; 
								<font size="-2">{NAV_LAST}</font> 
								<br />
								<font size="-2">RETOUR <a href="{ITEMS_RETURN_URL}">{ITEMS_RETURN_LABEL}</a></font> &#8226;
								<font size="-2">{NAV_POSITION}</font> 
							</td>
						</tr>
					</table>
					<br /><br />
					<!-- END ITEMS_LIST_NAV -->
					
					<!-- BEGIN ITEMS_ZOOM_NAV -->
					<br />
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center"><br />
								<font size="-2">{NAV_PREV}</font> &#8226;
								<font size="-2">{NAV_NEXT}</font> 
								<br />
								<font size="-2">{NAV_RETURN}</font>
							</td>
						</tr>
					</table>
					<br />
					<!-- END ITEMS_ZOOM_NAV -->
					
					<!-- BEGIN ITEMS_NEW -->
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="right">
								TITRE&nbsp;:&nbsp;
							</td>
							<td align="left">
								{LABEL_FR}
							</td>							
						</tr>
						<tr>
							<td align="right">
								DESCRIPTION COURTE&nbsp;:&nbsp;
							</td>
							<td align="left">
								{DESC_FR}
							</td>							
						</tr>
						<tr>
							<td align="right">
								DESCRIPTION LONGUE&nbsp;:&nbsp;
							</td>
							<td align="left">
								{HTML_FR}
							</td>							
						</tr>						
					</table>
					<!-- END ITEMS_NEW -->
					<!-- BEGIN OLD_ITEMS_ZOOM_NAV -->
					<br />
					<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center"><br />
								<font size="-2">{NAV_PREV}</font> &#8226;
								<font size="-2">{NAV_NEXT} > </font> 
								<br />
								<font size="-2">{NAV_RETURN}</font> &#8226;
								<font size="-2">{NAV_POSITION}</font> 
							</td>
						</tr>
					</table>
					<br />
					<!-- END OLD_ITEMS_ZOOM_NAV -->
				</td>
		  	</tr>
		</table>
	</body>
</html>	
	